<div>
<form action="/action_page.php" class="add-form" (ngSubmit)="clickEnAgregar()" novalidate #f="ngForm">
    <div class="form-floating mb-3 mt-3">
    <input 
        type="text" 
        class="form-control" 
        id="nombreE" 
        placeholder="Nombre" 
        name="nombreE"
        [(ngModel)] = "nombreE" required>
    <label for="text">Ingrese Experiencia</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input 
            type="text" 
            class="form-control" 
            id="empresa" 
            placeholder="Empresa" 
            name="empresa"
            [(ngModel)] = "empresa" required>
        <label for="text">Ingrese Empresa</label>
        </div>

        <div class="form-floating mb-3 mt-3">
            <input 
                type="text" 
                class="form-control" 
                id="tarea" 
                placeholder="Tareas" 
                name="tarea"
                [(ngModel)] = "tarea" required>
            <label for="text">Ingrese Tareas</label>
            </div>

            <div class="form-floating mb-3 mt-3">
                <input 
                    type="text" 
                    class="form-control" 
                    id="formato" 
                    placeholder="Formato" 
                    name="formato"
                    [(ngModel)] = "formato" required>
                <label for="text">Ingrese Formato (Part-time, jornada completa, autónomo)</label>
                </div>
    <input type="submit" class="btn btn-danger" value="Agregar">
</form>
</div>