<div class="itemacademico">
    <ul>
        <li>
            <h2><b>{{formacion.instituto}}</b>
                <div>
                    <fa-icon
                        [icon]="faEdit"
                        [ngStyle]="{'color': mostrarFormModif ? 'black' : 'red'}"
                        style="margin-right: 10px; cursor: pointer;"
                        (click)="modificarFormacion(formacion)"
                    ></fa-icon>
            
                    <fa-icon
                        [icon]="faTimes"
                        [ngStyle]="{'color': 'red'}"
                        style="cursor: pointer;"
                        (click)="borrarFormacion(formacion)"
                    ></fa-icon>
                </div>
                </h2>
                <p class="lead">{{formacion.titulo}}</p>
                <p class="lead"><i>{{formacion.duracion}}</i></p>
        </li>
    </ul>
    <app-modifacademica
        (modificarFormacion)="editar($event)"
        *ngIf="mostrarFormModif && clickEnBtn"
    >
    </app-modifacademica>
</div>
