<div class="container bg-purple d-none d-md-block">
    <!--Marcas para las que trabaje-->
    <div>
      <div class="row align-items-center justify-content-around py-5 sec-clients">
        <!--Marca 1-->
        <a href="#" class="col-sm-5 col-md-3 ">
          <img src="assets/img/logo/logocaras.png" alt="Nombre de la empresa" class="w-75" >
        </a>
        <!--Marca 2-->
        <a href="#" class="col-sm-5 col-md-3 ">
          <img src="assets/img/logo/logobio.png" alt="Nombre de la empresa" class="w-75" >
        </a>
        <!--Marca 3-->
        <a href="#" class="col-sm-5 col-md-3 ">
          <img src="assets/img/logo/logomile.png" alt="Nombre de la empresa" class="w-75" >
        </a>
        <!--Marca 4-->
        <a href="#" class="col-sm-5 col-md-3 ">
          <img src="assets/img/logo/LOGOBOUT.png" alt="Nombre de la empresa" class="w-75" >
        </a>
      </div>
    </div>
  </div>
