header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.icons-social-networks > a {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s filter;
    
  }

  .icons-social-networks > a > img {
    width: 60px;
    margin-left: 10px;
  }
  
  .icons-social-networks > a:hover {
    filter: opacity(0.5);
  }
  