<div class="container"><!--aca adentro va el header-->
    <header class="row align-items-center header-main justify-content-center">
      <div class="col-md-7 text-center text-md-start">
        <!--Saludo-->
        <h1 class="display-2">
          <span class="d-block"><b>Te doy la bienvenida a mi Portfolio Web</b></span>
          
        </h1>
        <!--Trabajo/Job-->
        <p class="text-muted fw-light"> 
          Para visualizar el contenido <i>"Iniciar sesión"</i>
        </p>
        <!--Redes Sociales / Social networks-->
        <div class="d-none d-md-block icons-social-networks">
          <!--Facebook-->
          <a href="https://www.facebook.com/rodrigo.peire/" target="_blank" class="bg-facebook">
            <img src="assets/img/icons/facebook.svg" alt="Facebook" >
            </a>
          <!--LinkedIn-->
          <a href="https://ar.linkedin.com/in/rodrigo-peire-52102a14b" target="_blank" class="bg-linkedin mx-3">
            <img src="assets/img/icons/linkedin.svg" alt="linkedin" >
            </a>           
        </div>
      </div>

      <!--Imagen de mi persona-->
      <div class="col-8 col-md-4">
        <div>
          <img src="assets/img/fotocv.png" alt="Rodrigo Peire" class="rounded-circle w-100">
        </div> 
      </div>
    </header>
  </div>
















<!--<div class="container">
    <div>
        <header>
            <h1>Te doy la bienvenida a mi Portfolio Web</h1>
        </header>
    </div>
</div>-->
