<div class="container" *ngIf="formAcad">
    <form action="/action_page.php" class="add-form" (ngSubmit)="clickEnModificar()" novalidate #f="ngForm" >

        <div class="form-floating mb-3 mt-3">
            <input 
                type="text"
                class="form-control" 
                name="instituto" 
                id="instituto" 
                placeholder="Instutucion"
                [(ngModel)] = "formAcad.nombreInstituto" required
                >
            <label for="text">Editar Instituto</label>
        </div>

        <div class="form-floating mb-3 mt-3">
            <input 
                type="text"
                class="form-control" 
                name="titulo" 
                id="titulo" 
                placeholder="Titulo"
                [(ngModel)] = "formAcad.titulo" required
                >
            <label for="text">Editar Titulo</label>
        </div>

        <div class="form-floating mb-3 mt-3">
            <input 
                type="text"
                class="form-control" 
                name="duracion" 
                id="duracion" 
                placeholder="Duracion"
                [(ngModel)] = "formAcad.duracion" required
                >
            <label for="text">Editar Duracion</label>
        </div>

        <input type="submit" value="Editar" class="btn btn-danger">
    </form>
</div>
