<div>
    <form action="/action_page.php" class="add-form" (ngSubmit)="clickEnAgregar()" novalidate #f="ngForm" >

        <div class="form-floating mb-3 mt-3">
            <input 
                type="text"
                class="form-control" 
                name="instituto" 
                id="instituto" 
                placeholder="Instutucion"
                [(ngModel)] = "nombreInstituto"
                >
            <label for="text">Instituto</label>
        </div>

        <div class="form-floating mb-3 mt-3">
            <input 
                type="text"
                class="form-control" 
                name="titulo" 
                id="titulo" 
                placeholder="Titulo"
                [(ngModel)] = "titulo"
                >
            <label for="text">Titulo</label>
        </div>

        <div class="form-floating mb-3 mt-3">
            <input 
                type="text"
                class="form-control" 
                name="duracion" 
                id="duracion" 
                placeholder="Duracion"
                [(ngModel)] = "duracion"
                >
            <label for="text">Duracion</label>
        </div>

        <input type="submit" value="Agregar" class="btn btn-danger">
    </form>
</div>
