<div class="container">
  <!--Titulo del componente y boton agregar-->
  <header>
    <h1><b>{{titulocomponente}}</b></h1>
    <app-btnagregaracad 
      *ngIf="isLogged"
      textBtn="{{mostrarFormulario ? 'Cerrar' : 'Agregar'}}"
      classBtn="{{mostrarFormulario ? 'btn btn-dark' : 'btn btn-danger'}}" 
      (btnClick)="alternarAgregar()"
    ></app-btnagregaracad>
  </header>

  <!--Para agregar las formaciones academicas-->
  <app-masacademica 
  (agregarFormAcad)="agregarUnaFormAcad($event)"
    *ngIf="mostrarFormulario">
  </app-masacademica>

  <!--Lista de Formaciones academicas-->  
  <div *ngFor="let Formacion of formacion">
    <div class="itemacademico text-muted">
      <hr>
      <ul>
        <li>
          <h2><b>{{Formacion.nombreInstituto}}</b>
            <div>
              <button *ngIf="isLogged" class="btn btn-danger" routerLink="/modificarformacad/{{Formacion.id}}"><i class="bi bi-pencil-square"></i></button>
              <button *ngIf="isLogged" class="btn btn-dark" (click)="delete(Formacion.id)"><i class="bi bi-trash-fill"></i></button>
            </div>
          </h2>
          <p class="lead">{{Formacion.titulo}}</p>
          <p class="lead"><i>{{Formacion.duracion}}</i></p>
        </li>
      </ul>
    </div>
  </div>

</div>
