<div class="container">
    <section class="row justify-content-center text-center text-md-start"><!--en pantallas chicas el texto centrado, en pantallas mas grandes a la izquierda-->
        <!--titulo-->
        <h2 class="col-md-4 text-center display-4">
          <b>Sobre mi...</b>
        </h2>
        <!--Informacion-->
        <div class="col-8 col-md-8"> <!--este id es del sig apartado, pero lo coloco aca para que me direccione bien piola-->
          <p class="text-muted fw-light">
            Tengo 30 años y vivo en la ciudad de Rosario (Santa Fe - Argentina).
          </p>
          <p class="text-muted fw-light">
            Me considero una persona curiosa y proactiva que busca constantemente aprender cosas nuevas.
          </p>
          <p class="text-muted fw-light">
            Actualmente, me encuentro cursando el "Plan Argentina Programa - 2da Etapa - #YoProgramo", el cual,
            a medida que voy avanzando, me tiene motivado debido al conocimiento que provee sobre las 
            herramientas tecnológicas respectivas al rubro "Programación", y tambíen, debido a la infinidad de aplicaciones 
            que se les puede dar a dichas herramientas.
          </p>
          <p class="text-muted fw-light">
            En el año 2021, finalicé el cursado de la carrera de Ingeniería Química.
          </p>
        </div>
      </section>
</div>

