<div class="container">   
  <div class="col-4 text-center" style="float: left;">
    <!--titulo-->
    <h2 class="display-4">
      <b>Sobre mi...</b>
    </h2>
    <br>
    <div>
      <app-btnagregardato
      *ngIf="isLogged"
      textBtn="{{mostrarFormulario ? 'Cerrar' : 'Agregar'}}"
      classBtn="{{mostrarFormulario ? 'btn btn-dark' : 'btn btn-danger'}}" 
      (btnClick)="alternarAgregar()"
    ></app-btnagregardato>
    <app-masdato
      (agregarDato)="agregarUnDato($event)"
      *ngIf="mostrarFormulario"
    ></app-masdato>
    </div>
  </div>
  <!--Informacion-->
  <div style="float: left;">
    <div *ngFor="let Dato of datos" > <!--este id es del sig apartado, pero lo coloco aca para que me direccione bien piola-->
      <p class="text-muted fw-light">
        {{Dato.dato}}
      </p>
      <div class="col">
        <button *ngIf="isLogged" class="btn btn-danger" routerLink="/modificardato/{{Dato.id}}"><i class="bi bi-pencil-square"></i></button>
        <button *ngIf="isLogged" class="btn btn-dark" (click)="delete(Dato.id)"><i class="bi bi-trash-fill"></i></button>
      </div>
    </div>
  </div>   
</div>

