<div class="container"><!--aca adentro va el header-->
    <header class="row align-items-center header-main justify-content-center">
      <div class="col-md-7 text-center text-md-start">
        <!--Saludo-->
        <h1 class="display-2">
          <span class="d-block"><b>Hola,</b></span>
          <h1>Mi nombre es {{persona.nombre}} {{persona.apellido}}</h1>
        </h1>
        <!--Trabajo/Job-->
        <p class="text-muted fw-light"> 
          Estudiante del Plan Argentina Programa<br>
          Desarrollador Full Stack Jr en crecimiento<br>
          Entusiasta de las tecnologías IT y la programación<br>
          Estudiante avanzado de Ingeniería Química<br>
          Técnico Universitario en Química<br>
        </p>
        
      </div>

      <!--Imagen de mi persona-->
      <div class="col-8 col-md-4">
        <div class="position-relative shadow">
          <img src="assets/img/foto-r2.jpg" alt="Rodrigo Peire" class="w-100">
        </div> 
      </div>
    </header>
  </div>