<div class="container" >
    <main class="row justify-content-center pt-5">
      <!--Columna 1 con img, a la izquierda-->

      <div class="col-10 col-md-4 order-2 order-md-1">
        <div class="row">
          <!--Img1-->
          <a href="" class="col-12 mb-3 portfolio-item" data-bs-toggle="modal" >
            <img src="assets/img/portfolio/Electricidad.jpg" alt="" class="w-100 img-btn-modal-js" >
          </a>
          <!--Img2-->
          <a href="" class="col-12 mb-3 portfolio-item" data-bs-toggle="modal" >
            <img src="assets/img/portfolio/Electricidad1.jpg" alt="" class="w-100 img-btn-modal-js" >
          </a>
          <!--Img3-->
          <a href="" class="col-12 mb-3 portfolio-item" data-bs-toggle="modal" >
            <img src="assets/img/portfolio/Smartphone.jpg" alt="" class="w-100 img-btn-modal-js" >
          </a>
          <!--Img4-->
          <a href="" class="col-12 mb-3 portfolio-item" data-bs-toggle="modal" >
            <img src="assets/img/portfolio/Smartphone1.png" alt="" class="w-100 img-btn-modal-js" >
          </a>
           <!--Img5-->
           <a href="" class="col-12 mb-3 portfolio-item" data-bs-toggle="modal" >
            <img src="assets/img/portfolio/Tablet.jpg" alt="" class="w-100 img-btn-modal-js" >
          </a>
          <!--Img6-->
          <a href="" class="col-12 mb-3 portfolio-item" data-bs-toggle="modal" >
            <img src="assets/img/portfolio/Logo MRT.png" alt="" class="w-100 img-btn-modal-js" >
          </a>
        </div>
      </div>

      <!--Columna 2 con img, a la derecha-->

      <div class="col-10 col-md-8 order-1 order-md-2">
        <div class="row">
          <h1 class="col-12 py-3 text-end">
            <b>Portfolio</b>
          </h1>
          <!--Img6-->
          <a href="" class="col-12 mb-3 portfolio-item" data-bs-toggle="modal" >
            <img src="assets/img/portfolio/PC1.jpg" alt="" class="w-100 img-btn-modal-js" >
          </a>
          <!--Img7-->
          <a href="" class="col-12 col-md-6 mb-3 portfolio-item" data-bs-toggle="modal" >
            <img src="assets/img/portfolio/RIG.jpg" alt="" class="w-100 img-btn-modal-js" >
          </a>
          <!--Img8-->
          <a href="" class="col-12 col-md-6 mb-3 portfolio-item" data-bs-toggle="modal" >
            <img src="assets/img/portfolio/TarjMRT.png" alt="" class="w-100 img-btn-modal-js" >
          </a>
          <!--Img9-->
          <a href="" class="col-12 col-md-6 mb-3 portfolio-item" data-bs-toggle="modal" >
            <img src="assets/img/portfolio/logoboutique.png" alt="" class="w-100 img-btn-modal-js" >
          </a>
          <!--Img10-->
          <a href="" class="col-12 col-md-6 mb-3 portfolio-item" data-bs-toggle="modal" data-bs-target="#modal-portfolio">
            <img src="assets/img/portfolio/Cerveza.jpg" alt="" class="w-100 img-btn-modal-js" >
          </a>
          <!--Img11-->
          <a href="" class="col-12 mb-3 portfolio-item" data-bs-toggle="modal" data-bs-target="#modal-portfolio">
            <img src="assets/img/portfolio/Monitoreo.jpg" alt="" class="w-100 img-btn-modal-js" >
          </a>
        </div>
      </div>

      <!--Modal General / esto lo hago con JS, lo hace dinamico-->

      <div class="col-9 modal fade" id="modal-portfolio">
        <div class="modal-dialog position-relative modal-dialog-centered">
          <img src="" alt="" class="w-100 img-modal-js"> <!--el valor src va a ser dinamico, con js--> 
        </div>
      </div>
    </main>
  </div>
