<div class="itemexperiencia">
    <ul>
        <li>
            <h2><b>{{experiencia.nombre}}</b>
            <div>
                <fa-icon 
                    [icon] = "faEdit"
                    [ngStyle]="{'color': mostrarFormModif ? 'black' : 'red'}"
                    style="margin-right: 10px; cursor: pointer;"
                    (click)="modificarExperiencia(experiencia)"
                ></fa-icon>
                <fa-icon 
                    [icon] = "faTimes"
                    [ngStyle]="{'color':'red'}"
                    style="cursor: pointer;"
                    (click)="borrarExperiencia(experiencia)" 
                ></fa-icon>
            </div>
            </h2>
            <p class="lead">{{experiencia.empresa}}</p>
            <p class="lead">{{experiencia.tarea}}</p>
            <p class="lead"><i>{{experiencia.formato}}</i></p>
        </li>
    </ul>
    <app-modifexperiencia 
        (modificarExperiencia)="editar($event)"
        *ngIf="mostrarFormModif && clickEnBtn"    
    ></app-modifexperiencia>
      
</div>
