<div>
    <form action="/action_page.php" class="add-form" (ngSubmit)="clickEnAgregar()" novalidate #f="ngForm">
        <div class="form-floating mb-3 mt-3">
        <input 
            type="text" 
            class="form-control" 
            id="nombreE" 
            placeholder="Nombre" 
            name="nombreE"
            [(ngModel)] = "descripcion" required>
        <label for="text">Ingrese descripcion</label>
        </div>
        <input type="submit" class="btn btn-danger" value="Agregar">
    </form>
</div>
